/*!CLASSI PRINCIPALI */
/* ?CLASSI SECONDARIE */
/* CLASSI TERZIARIE... */
/*  */


/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONT */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* GENERICS */

a{
    text-decoration: none;
    color: white;

}

ul{
    list-style-type: none;
    
}


h6{
    color: lightgrey;
}

.flex{
    display: flex;
}

.d-none{
    display: none;
}

img{
    max-width: 100%;
    height: auto;
}



/* MARGIN BOTTOM */
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom:35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom:50px;
}





/* !TOP CONTENT */

.top-content{
    height: calc(100vh - 80px);
    display: flex;
}

/*? SIDEBAR */
.sidebar{
    height: 100%;
    background-color: black;
    
    flex-basis: 50px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    text-align: center;
}

.sidebar img{
    width: 20px;
    margin-bottom:5px;
}


.sidebar-text{
    display: none;
    padding-left: 5px;
}

.small-icon img{
    width: 15px;
}

.logo-big{
    display: none;
}


.profile img{

    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
}

.playlist{
    display: none;
}


.plus-div{
    width: 30px;
    height: 30px;
    background-color: grey;
    position: relative;

}

.plus{
    font-size: 30px;
    color: black;
    margin-right: 10px;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.create-playlist{
    display: flex;
    align-items: center;
}

.create-playlist h6{
    margin-left: 6px;
}

.playlist-name li{
    padding-bottom: 20px;
    font-size: 11px;
}

.sidebar-bottom h6{
    margin-left: 10px;
    display: none;
}

.sidebar-bottom h5{
    margin-left: 10px;
    display: none;
}

hr{
    display: none;
}




/* ?MAIN */
/* MAIN */
main{
    flex-grow: 1;
    padding-top: 80px;
    background-color: #141922;
    padding: 30px;


    overflow-y: scroll;

}


.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.col{
    text-align: center;
    flex-basis: 50%;
}

.card{
    margin: 10px;
    color: black;

}

.john-doe, .popular-artists{
    margin-top: 30px;
}

.popular-artists img{
    border-radius: 50%;
}

/* HEADER */
header{
    height: 80px;
    width: calc(100% - 50px);

    background-color:rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

header a{
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 11px;
}


/* NAVBAR */

.navbar{
    padding-top: 80px;
}

.navbar li{
    padding: 10px 20px;
    
}


.navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  
    

}



/********SONGS********/





/* !FOOTER */

footer{
 height: 80px;
 background-color: #282828;
 display: flex;
 justify-content: space-between;
 padding: 10px;
}



.song-function{
    flex-basis: calc(100% / 3);
    display: flex;
    align-items: center;
}

/* SONG */
.song{
    display: flex;
    flex-direction: row;
}

.song img{
    width: 30px;
    height: 30px;
}

.song-text{
    margin-left: 10px;
}

.song h5{
    font-size: 12px;
}
.song h6{
    font-size: 10px;
}

.song-icon{
    display: flex;
    flex-direction: column;

    margin-left: 15px;

}

/* PLAY-BAR-CONTROLS */
footer .mid{
    justify-content: center;
    flex-direction: row;
}

.play-bar-icon {
    display: flex;
    justify-content: center;
    padding-left:15px ;

}

.play-bar-icon i{
    padding: 0 10px;
    margin-bottom:20px ;
}

.play-bar-time{
    display: flex;
    text-align: center;
}

.progress-bar{
    width:150px;
    height: 5px;
    background-color: grey;
    align-self: center;
}
/* SETTINGS */
footer .end{
    justify-content: flex-end;
}


.settings-icon{
    display: flex;
    padding: 0 5px;
}

.settings-icon i{
    padding: 0 3px;
}

.progress-bar-volume{
    width:50px;
    height: 5px;
    background-color: grey;
    align-self: center;
}








/* **********************************
            MEDIA QUERY
********************************** */



/* ************** DA TABLET IN POI ****************** */

@media screen and (min-width:768px) {


    /*? SIDEBAR */
    .sidebar{
        flex-basis: 200px;
    }


    .home, .search, .library{
        display: flex;
        align-items: center;
    }

    .sidebar-text{
        display: flex;
    }

    .playlist{
        display:inline-block;
    }

    .sidebar-bottom .download{
       display: flex;
    }
    .sidebar-bottom .profile{
        display: flex;
     }
    .sidebar-bottom h5{
        display: flex;
    }
    .sidebar-bottom h6{
        display: flex;
    }
    hr{
        display: block;
    }




    


    /* logo */
    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;


    }

    .logo-big img{
        width: 130px;
        margin-bottom:20px ;
    }

    /* SIDEBAR */
    .sidebar{
        text-align: left;
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 15px;

    }

    /* Main */
    .col{
        flex-basis: 25%;
    }






    /*? HEADER */
    header{
        width: calc(100% - 200px);
    }

}




/* ************** DA LAPTOP IN POI ****************** */

@media screen and (min-width:992px) {


    .col{
        flex-basis:calc(100% / 6)
    }




}


/* ************** DA DESKTOP IN POI ****************** */

@media screen and (min-width:1200px) {



    

}


